.storyActions {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

span {
    border: 3px solid black;
    border-radius: 20px;
    padding: 2%;
    margin-top: 3%;
    text-align: center;
    font-size: larger;
}

.actionButtons {
    display: flex;
    flex-direction: row;
}

button {
    width: 50%;
    padding: 3%;
    margin: 1%;
    font-size: x-large;
}

.on {
    background-color: palevioletred;
}

.off {
    background-color:antiquewhite;
}

 .background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    margin: 0%;
    height: 97vh;
} 